.form-group{
    margin-bottom: 9px;

    @include media-breakpoint-up-width(md){
        margin-bottom: 25px;
    }
}
.form-control{
    background-color: $black;
    border: 1px solid $white;
    color: $white !important;
    padding: 9px 10px;
    font-family: $font-d-din-normal-exp;
    outline: 0;
    font-size: 1rem;
    line-height: 1.625rem;
    height: auto;
    @include boxShadow(none);
    @include borderRadius(4px);

    &:focus{
        background-color: $black;
        border-color: $orange;
        @include boxShadow(none);
    }
}

select.form-control{
    padding-right: 34.41px;
    appearance: none;
    -webkit-appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='10' viewBox='0 0 16 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.792969 2.20706L2.20718 0.792847L8.00008 6.58574L13.793 0.792847L15.2072 2.20706L8.00008 9.41417L0.792969 2.20706Z' fill='white'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center right 10px;

    &:focus{
        background-image: url("data:image/svg+xml,%0A%3Csvg width='16px' height='10px' viewBox='0 0 16 10' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Vector-2-(Stroke)' fill='%23FF5A00'%3E%3Cpolygon id='Path' points='0.792969 2.20706 2.20718 0.792847 8.00008 6.58574 13.793 0.792847 15.2072 2.20706 8.00008 9.41417'%3E%3C/polygon%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    }
}

textarea.form-control{
    height: 99px;
    resize: vertical;
}

input[type="checkbox"],
.form-check-input{
    appearance: none;
    -webkit-appearance: none;
    background-color: $white;
    padding-top: 14px;
    padding-left: 14px;
    border: 2px solid $white;
    cursor: pointer;
    margin-left: 0;
    @include borderRadius(4px);

    &:checked{
        border-color: $orange;
        background: $white url("data:image/svg+xml,%0A%3Csvg width='419px' height='325px' viewBox='0 0 419 325' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='check' fill='%23FF5A00'%3E%3Cpath d='M160.416,318.581333 C156.426667,322.592 150.986667,324.832 145.333333,324.832 C139.68,324.832 134.24,322.592 130.250667,318.581333 L9.80266667,198.112 C-2.69866667,185.610667 -2.69866667,165.344 9.80266667,152.864 L24.8853333,137.781333 C37.3866667,125.28 57.632,125.28 70.1333333,137.781333 L145.333333,212.981333 L348.533333,9.78133333 C361.034667,-2.72 381.301333,-2.72 393.781333,9.78133333 L408.864,24.864 C421.365333,37.3653333 421.365333,57.632 408.864,70.112 L160.416,318.581333 Z' id='Path'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E") no-repeat center;
        background-size: 12px;
    }
}

.form-check{
    padding: 0;
    font-size: 13px;

    .wpcf7-list-item{
        margin: 0;
    }
    input[type="checkbox"],
    .form-check-input{
        margin-right: 10px;

        &:checked + label{
            color: $orange;
        }
    }
    label {
        display: flex;
        align-items: center;

        span{
            margin-top: 2px;
            padding-left: 30px;
        }
        a{
            color: $orange;
        }
    }
}

label{
    color: $white;
    font-size: 1rem;
    line-height: 1.625rem;

    &.required::after{
        content: "*";
    }
}

.form-submit{
    display: flex;
    justify-content: center;
    margin-top: 36px;

    @include media-breakpoint-up-width(md){
        justify-content: flex-end;
        margin-top: 0;
    }
}

// Subscribe form
.subscribe{
    display: flex;
    width: 100%;

    .form-group{
        max-width: calc(100% - 128px);

        input{
            padding: 19px 22px;
            background-color: $grey-alt2;
            color: $white;
            width: 100%;
            border-color: $white;
            border-style: solid;
            border-width: 8px 0 8px 8px;
            min-height: 64px;
            @include borderRadius(16px 0 0 16px);

            &::placeholder {
                color: $white;
            }
            &:-ms-input-placeholder{
                color: $white;
            }
            &::-ms-input-placeholder{
                color: $white;
            }
        }
    }
    button{
        max-width: 128px;
        width: 100%;
        max-height: 64px !important;
        color: $white !important;
        @include borderRadius(0px 16px 16px 0);
    }
}

input#mfcf7_zl_add_file {
    background-color: #FF5A00;
    border: none;
    color: #fff;
    padding: 5px 20px;
    border-radius: 5px;
}

// 06-08-23
.modal-body {
  input[type=checkbox]{
    height: 0;
    width: 0;
    visibility: hidden;
  }
  label {
    cursor: pointer;
    text-indent: -9999px;
    width: 120px;
    height: 30px;
    background: grey;
    display: block;
    border-radius: 100px;
    position: relative;
  }
  label:after {
    content: '';
    position: absolute;
    top: 1px;
    left: 1px;
    width: 28px;
    height: 28px;
    background: #fff;
    border-radius: 30px;
    transition: 0.3s;
  }
  input:checked + label {
    background: #FF5A00;
  }
  
  input:checked + label:after {
    left: 100%;
    transform: translateX(-101%);
  }
  
  label:active:after {
    width: 130px;
  }
}