.banner-form-section {
    position: relative;

    .banner-block {
        height: 100%;
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-radius: 30px;
        background-size: cover;
        min-height: 200px;
        @include media-breakpoint-up-width(md) {
            margin-bottom: 0px;
            padding-bottom: 0;
        }
    }
    .form-block {
        height: 100%;
        background-color: #ff5a00;
        padding: 44px;
        border-radius: 30px;
        margin-top: 20px;
        @include media-breakpoint-up-width(md) {
            margin-top: 0;
        }
        h4 {
            @media (min-width: 576px) {
                font-size: 1.9rem;
            }
        }
        form {
            padding: 12px 0 0;
            input {
                border-radius: 20px;
                background-color: #ffffff;
                color: #000 !important;
            }
            label {
                color: #000;
            }
            .form-control:focus {
                background: #ffffff;
            }
            .form-submit {
                justify-content: center;
            }
            .btn {
                padding: 12px 50px;
                background: white;
                border-radius: 25px;
                color: #000;
                font-weight: bold;
                font-size: 1rem;
            }
            .form-check {
                label {
                    span {
                        font-size: 12px;
                        line-height: 1rem;
                        a {
                            color: #ffffff;
                        }
                    }
                }
            }
            @media (min-width: 576px) {
                .form-group {
                    margin-bottom: 15px;
                }
            }
        }
    }
    margin-top: 20px !important;
    @include media-breakpoint-up-width(md) {
        margin-top: 0;
    }
    @include media-breakpoint-up-width(lg) {
        padding: 0 0 74px;
    }
}
