.management {
  .subheading {
    margin-bottom: 76px;
  }
  .hidden {
    display: none;
  }
  .text-center {
    button {
      padding-bottom: 50px;
    }
  }
  .member-image {
    height: 254px;
    width: 100%;
    margin-bottom: 30px;
    background-size: cover;
    position: relative;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
    .member-inner {
      position: absolute;
      width: 48%;
      height: 100%;
      bottom: 5px;
      right: 0px;
      padding: 0 15px;
      display: flex;
      justify-content: space-between;
      .member-intro {
        color: $black;
        padding-top: 50px;
        max-width: 100%;
        h4 {
          padding-bottom: 0;
          margin-bottom: 0;
          font-family: "D-DIN-Normal", sans-serif;
          font-weight: 600;
        }
        h3 {
          font-family: "D-DIN-Bold", sans-serif;
          letter-spacing: 0.52px;
          line-height: 2rem;
        }
        p {
          color: #343a40;
          letter-spacing: 0.52px;
        }
      }
      .member-profile {
        position: absolute;
        right: 20px;
        bottom: 10px;
        .btn {
          transform: scale(0.8);
          transform-origin: right bottom;
          border-radius: 30px;
          padding: 12px;
          .btn__icon {
            margin-right: 0px;
          }
        }
      }
    }
  }
}
@media (min-width: 992px) {
  .page-1448 .banner__main__feature,
  .page-2322 .banner__main__feature,
  .page-2367 .banner__main__feature {
    right: -100px;
  }
  .page-1448 .banner__main__content,
  .page-2322 .banner__main__content,
  .page-2367 .banner__main__content {
    z-index: 3;
  }
}
